.box {
  width: 200px;
  height: 250px;
  background-color: #ffffff;
  border: 3px solid #00ff0d;
  padding: 30px;
  margin-top: 40px;
  margin-left: 550px;
}
.but-ton {
  margin-top: 20px;
  margin-left: 60px;
}
